section.main-page__theme-list
  h2.visually-hidden Список тем
  ul.themes
    each item in themesList
      li.themes__item
        a.themes__item-link(href='#')
          | !{item.name}&nbsp;
          sup=item.quantity

