- var themesList = [{name: 'Автомобили', quantity: 88}, {name: 'Удаленная работа', quantity: 13}, {name: 'Бизнес', quantity: 13}, {name: 'Путешествие', quantity: 13}, {name: 'Дизайн и обустройство', quantity: 13}, {name: 'Производство игрушек', quantity: 22}, {name: 'UX & UI', quantity: 22}]
section.main-page__theme-list
  h2.visually-hidden Список тем
  ul.themes
    each item in themesList
      li.themes__item
        a.themes__item-link(href='#')
          | !{item.name}&nbsp;
          sup=item.quantity
    
