block variables
    - var linkToArticles = "/articles/add"
header.header
  a.header__logo.logo(href='/')
    img.logo__image(src='/img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
    span.logo__name Типотека
  button.button.button--colored.header__button-new(onclick='window.location.href="/articles/add"') Новая запись
  form(action='/logout' method='get')
    button.button.button--colored.header__button-new Выйти
  .header__dropdown
    a.button.button--burger.header__burger(href='#') Открыть меню
    ul.navigation.header__navigation
      li.navigation__item
        a(href='/my/articles') Публикации
      li.navigation__item
        a(href='/my/comments') Комментарии
      li.navigation__item
        a(href='/my/categories') Категории
  a.header__search.button.button--search(href='/search' aria-label='поиск по сайту')
