extends layout
block variables
    - var admin = true

block content
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.visually-hidden Мои записи
      include partials/my-article.pug
